

# Ignore everything


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Except  
!static
!templates
!app.py
!covid_tracer.py
!main.py
!models.py
!proximityCalculator.py
!Dockerrun.aws.json
!.my_env
!requirements.txt

# Ignore node_modules
my_env
venv
win_env
